<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_mathjax.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <link rel="stylesheet" href="/css/jtd.css">
  <link rel="icon" href="/assets/infra/logoF_square.gif">
  {{isdef title}} <title>{{fill title}}</title>  {{end}}

  <!-- PLOTLY -->
  {{if hasplotly}}
  <script src="/libs/plotly/plotly.min.js"></script> 
  <script>
	const PlotlyJS_json = async (div, url) => {
    response = await fetch(url); // get file
    fig = await response.json(); // convert it to json
    // Make the plot fit the screen responsively. See the documentation of plotly.js. https://plotly.com/javascript/responsive-fluid-layout/
    if (typeof fig.config === 'undefined') { fig["config"]={} }
    delete fig.layout.width
    delete fig.layout.height
    fig["layout"]["autosize"] = true
    fig["config"]["autosizable"] = true
    fig["config"]["responsive"] = true

    // make it easier to scroll throught the website rather than being blocked by a figure.
    fig.config["scrollZoom"] = false

    // PlotlyJS.savefig by default add the some more attribute to make a static plot.
    // Disable them to make the website fancier.
    delete fig.config.staticPlot
    delete fig.config.displayModeBar
    delete fig.config.doubleClick
    delete fig.config.showTips

    Plotly.newPlot(div, fig);
    };
  </script>
  {{end}}

</head>
<body>                      <!-- closed in foot.html -->
  <div class="page-wrap">   <!-- closed in foot.html -->
    <!-- SIDE BAR -->
    <div class="side-bar">
      <div class="header">
        <a href="/" class="h1" style="font-size: 30px">CHEM 330</a>
      </div>
      <label for="show-menu" class="show-menu">MENU</label>
      <input type="checkbox" id="show-menu" role="button">
      <div class="menu" id="side-menu">
        <ul class="menu-list">
          <!-- HOME -->
          <li class="menu-list-item {{ispage index}}active{{end}}"><a href="/" class="menu-list-link">💧 Course Overview</a>
          <!-- Syllabi -->
<!--		  <li class="menu-list-item {{ispage lecture-syllabus/*}}active{{end}}"><a href="/lecture-syllabus/" class="menu-list-link">📜 Lecture Syllabus</a> -->
		  <li class="menu-list-item {{ispage lab-syllabus/*}}active{{end}}"><a href="/lab-syllabus/" class="menu-list-link">📜 Lab Syllabus</a>
          <!-- Schedule -->
		  <li class="menu-list-item {{ispage schedule/*}}active{{end}}"><a href="/schedule/" class="menu-list-link">📆 Schedule</a>
          <!-- Lab Notebooks -->
		  <li class="menu-list-item {{ispage lab-notebooks/index.html*}}active{{end}}"><a href="/lab-notebooks/" class="menu-list-link">📓 Lab Notebooks</a>
          <!-- Experiment 1 -->
		  <li class="menu-list-parent {{ispage error/*}}active{{end}}"><a href="/error/" class="menu-list-link">🧪 Error</a>
			  <ul class="menu-list-child-list">
				<li class="menu-list-item {{ispage error/index.html}}active{{end}}"><a href="/error/" class="menu-list-link">Lab Procedure</a>
				<li class="menu-list-item {{ispage error/instructor-info}}active{{end}}"><a href="/error/instructor-info/" class="menu-list-link">Instructor Info</a>
			  </ul>
         <!-- Experiment Hardness -->
		  <li class="menu-list-parent {{ispage hardness/*}}active{{end}}"><a href="/hardness/" class="menu-list-link">🧪 Hardness</a>
			  <ul class="menu-list-child-list ">
				<li class="menu-list-item {{ispage hardness/index.html}}active{{end}}"><a href="/hardness/" class="menu-list-link">Lab Procedure</a>
				<li class="menu-list-item {{ispage hardness/instructor-info}}active{{end}}"><a href="/hardness/instructor-info/" class="menu-list-link">Instructor Info</a>
			  </ul>              
          <!-- Experiment 2 -->
		  <li class="menu-list-parent {{ispage nitrate/*}}active{{end}}"><a href="/nitrate/" class="menu-list-link">🧪 Nitrate</a>
			  <ul class="menu-list-child-list">
				<li class="menu-list-item {{ispage nitrate/index.html}}active{{end}}"><a href="/nitrate/" class="menu-list-link">Lab Procedure</a>
				<li class="menu-list-item {{ispage nitrate/instructor-info}}active{{end}}"><a href="/nitrate/instructor-info/" class="menu-list-link">Instructor Info</a>
			  </ul>
          <!-- Experiment 3 -->
		  <li class="menu-list-parent {{ispage phosphate/*}}active{{end}}"><a href="/phosphate/" class="menu-list-link">🧪 Phosphate</a>
			  <ul class="menu-list-child-list ">
				<li class="menu-list-item {{ispage phosphate/index.html}}active{{end}}"><a href="/phosphate/" class="menu-list-link">Lab Procedure</a>
				<li class="menu-list-item {{ispage phosphate/instructor-info}}active{{end}}"><a href="/phosphate/instructor-info/" class="menu-list-link">Instructor Info</a>
			  </ul>
          <!-- Experiment 4 -->
		  <li class="menu-list-parent {{ispage alkalinity/*}}active{{end}}"><a href="/alkalinity/" class="menu-list-link">🧪 Alkalinity</a>
			  <ul class="menu-list-child-list ">
				<li class="menu-list-item {{ispage alkalinity/index.html}}active{{end}}"><a href="/phosphate/" class="menu-list-link">Lab Procedure</a>
				<li class="menu-list-item {{ispage alkalinity/instructor-info}}active{{end}}"><a href="/alkalinity/instructor-info/" class="menu-list-link">Instructor Info</a>
			  </ul>
          <!-- Experiment 5 -->
		  <li class="menu-list-parent {{ispage tds/*}}active{{end}}"><a href="/tds/" class="menu-list-link">🧪 TDS</a>
			  <ul class="menu-list-child-list ">
				<li class="menu-list-item {{ispage tds/index.html}}active{{end}}"><a href="/tds/" class="menu-list-link">Lab Procedure</a>
				<li class="menu-list-item {{ispage tds/instructor-info}}active{{end}}"><a href="/tds/instructor-info/" class="menu-list-link">Instructor Info</a>
			  </ul>
 
   		  <li class="menu-list-parent {{ispage ic/*}}active{{end}}"><a href="/ic/" class="menu-list-link">🧪 IC</a>
			  <ul class="menu-list-child-list ">
				<li class="menu-list-item {{ispage ic/index.html}}active{{end}}"><a href="/ic/" class="menu-list-link">Lab Procedure</a>
				<li class="menu-list-item {{ispage ic/instructor-info}}active{{end}}"><a href="/ic/instructor-info/" class="menu-list-link">Instructor Info</a>
			  </ul>
              		  <li class="menu-list-parent {{ispage icpms/*}}active{{end}}"><a href="/icpms/" class="menu-list-link">🧪 ICP-MS</a>
			  <ul class="menu-list-child-list ">
				<li class="menu-list-item {{ispage icpms/index.html}}active{{end}}"><a href="/icpms/" class="menu-list-link">Lab Procedure</a>
				<li class="menu-list-item {{ispage hardness/instructor-info}}active{{end}}"><a href="/icpms/instructor-info/" class="menu-list-link">Instructor Info</a>
			  </ul>
   		  <li class="menu-list-parent {{ispage sem/*}}active{{end}}"><a href="/sem/" class="menu-list-link">🧪 SEM</a>
			  <ul class="menu-list-child-list ">
				<li class="menu-list-item {{ispage sem/index.html}}active{{end}}"><a href="/sem/" class="menu-list-link">Lab Procedure</a>
				<li class="menu-list-item {{ispage ic/instructor-info}}active{{end}}"><a href="/sem/instructor-info/" class="menu-list-link">Instructor Info</a>
			  </ul>

          <!-- Project -->
		  <li class="menu-list-parent {{ispage project/*}}active{{end}}"><a href="/project/" class="menu-list-link">🥼 Project</a>
			  <!-- <ul class="menu-list-child-list "> -->
			  <!-- 	<li class="menu-list-item {{ispage project/nitrate.html}}active{{end}}"><a href="/project/nitrate/" class="menu-list-link">Nitrate</a> -->
			  <!-- 	<li class="menu-list-item {{ispage project/phosphate}}active{{end}}"><a href="/project/phosphate/" class="menu-list-link">Phosphate</a> -->
			  <!-- </ul> -->
      </div>
    </div>
    <!-- CONTENT -->
    <div class="main-content-wrap"> <!-- closed in foot.html -->
      <div class="main-content" id="focus" tabindex="-1" style="outline:0;">    <!-- closed in foot.html -->
        <div class="main-header">
          <a name="pagetop"></a>
		  <a id="github" href="https://github.com/chem330/chem330.github.io">GitHub Repository</a>
        </div>

<!-- Content appended here (in class franklin-content) -->
